.movie {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie__container{
  width: 100%;
  position: relative;
  display: flex;
  cursor: pointer;
}

.movie__button{
  position: absolute;
  margin: 0;
  padding: 0;
  border: none;
  top: 14px;
  right: 14px;
}

.movie__button-save {
  font-weight: normal;
  font-size: 10px;
  line-height: 9px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 72px;
  height: 21px;
  border-radius: 30px;
  background-color: #F4F4F4;
  cursor: pointer;
  transition: .3s linear;
}

.movie__button-save:hover {
  opacity: .8;
}

.movie__button-saved {
  cursor: pointer;
  background-image: url(../../images/saved.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #EE3465;
  width: 21px;
  height: 21px;
  border-radius: 30px;
  transition: .3s linear;
}

.movie__button-saved:hover {
  opacity: .8;
}

.movie__button-del {
  cursor: pointer;
  background-image: url(../../images/close-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F4F4F4;
  width: 21px;
  height: 21px;
  border-radius: 30px;
  transition: .3s linear;
}

.movie__button-del:hover {
  opacity: .8;
}

.movie__image {
  width: 100%;
  height: 201px;
  border-radius: 6px;
  object-fit: cover;
}

.movie__text-box {
  width: 100%;
  padding: 0 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 14px;
  box-sizing: border-box;
}

.movie__title {
  margin: 0;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
}

.movie__subtitle {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 0;
  font-weight: normal;
  font-size: 11px;
  line-height: 10px;
  width: 52px;
  height: 18px;
  background: #F4F4F4;
  border-radius: 3px;
  overflow: hidden;
  color: #A0A0A0;
}

@media screen and (max-width: 768px) {
  .movie__text-box {
    padding: 0;
    margin-top: 25px;
  }
}

@media screen and (max-width: 476px) {
  .movie__button{
    top: 10px;
    right: 10px;
  }

  .movie__text-box {
    margin-top: 16px;
  }

  .movie__title {
    font-size: 12px;
    line-height: 15px;
  }
}
