.nav {
  min-height: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F5F5F5;
}

.nav__link {
  margin: 0;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  text-decoration-line: underline;
  color: #000;
  transition: .3s linear;
}

.nav__link:nth-child(2) {
  margin: 0 40px;
}

.nav__link:hover {
  opacity: .6;
}
